.candlestickchart {
    color: black;
    background-color: white;
}

.search {
    background-color: #1d2025;
    width: 50%;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: black solid 2px;
}

.search-cont {
    margin: 20px;
}

.input {
    color: black;
    width: 75%;
}

.interval {
    margin-top: 15px;
}

.dates {
    margin-top: 15px;
}

.submit {
    background-color: none;
    width: 20%;
    margin-left: 40%;
    align-content: center;
}


.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}